body {
  color: #1b242d;
}

a:hover {
  color: #4f5e6d;
}

.wilayah-batak path {
  transition: fill 0.3s ease;
}

.wilayah-batak:hover path,
.wilayah-batak.is-active path {
  fill: #fde401 !important;
}

.cabang-batak,
.suku-batak {
  transition: background-color 0.3s ease;
}

.cabang-batak:hover,
.cabang-batak.is-active,
.suku-batak:hover,
.suku-batak.is-active {
  background-color: #fde401;
}
